.App {
  text-align: center;
  display: grid;
  grid-template-rows: 5vh 95vw;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    'header header header'
    'main main main';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 1vh 1vw;
}
a:link {
  color: #010101;
}
a:visited {
  color: #323232;
}
a:hover {
  color: #828282;
}
a:active {
  color: #010101;
}
a:link {
  text-decoration: none;
  border-bottom: 0.1px solid black;
}

.header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-areas: 'title articleAdd login';
  padding: 1vh 1vw;
}

.title {
  vertical-align: middle;
  text-align: center;
  justify-content: center;
}
.articleAdd {
  vertical-align: middle;
  justify-content: left;
}
.login {
  vertical-align: middle;
  text-align: center;
  justify-content: center;
}

.loginTextBox {
  width: 100px;
}

.main {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 1vh;
}
.tableActions {
  width: 40%;
  padding: 1vh;
}
